YOUTUBE_CHANNEL_URL=https://www.youtube.com/@example
# YOUTUBE_CHANNEL_ID=UCxxxxxxxxxxxxxxxxxxxxxx
BACKFILL_COUNT=5
HEADLESS=true
ALLOW_PUBLIC_SHARE=false
VIDEO_DELAY_MIN_MS=60000
VIDEO_DELAY_MAX_MS=300000
INDEXING_SETTLE_MS=30000
ARTIFACT_STAGE_DELAY_MS=15000
# NOTEBOOKLM_DATA_DIR=
# STATE_FILE=
# MANIFEST_FILE=
